<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta charset="utf-8">
</head>
<body>

</body>
<script type="text/javascript" src="__STATIC__/admins/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/admins/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__STATIC__/admins/static/h-ui.admin/js/H-ui.admin.js"></script> 

<script type="text/javascript" src="__STATIC__/admins/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admins/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__STATIC__/admins/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__STATIC__/admins/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__STATIC__/admins/js/myEditor.js"></script>
<link href="__STATIC__/admins/bootstrap/js/bootstrap.min.js" rel="stylesheet">
</html>