<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="__STATIC__/admins/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/admins/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/admins/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/admins/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__STATIC__/admins/static/h-ui.admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/admins/lin.css" />
<link href="__STATIC__/admins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="__STATIC__/admins/lib/jquery/1.9.1/jquery.min.js"></script> 
<link href="__STATIC__/admins/editor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="__STATIC__/admins/editor/third-party/template.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/admins/editor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/admins/editor/umeditor.js"></script>
<script type="text/javascript" src="__STATIC__/admins/editor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>

</body>
</html>